@import "@styles/theme.scss";

.text-input {
    display: flex;
    height: 80px;
    line-height: 80px;

    background-color: $white;

    // margin-bottom: 1px;
    font-size: 30px;
}

.text-input-border {
    border-bottom: 1px solid $border-color;
}

.text-input-name {
    width: 35%;
}

.my-radio-icon {
    vertical-align: text-top;
}

.text-input-item-view {
    width: 65%;
    text-align: right;
    margin-right: 30px;
}

.text-input-item {
    height: 100%;

    padding: 0;
}