@import "@styles/theme.scss";

.text-input {
    display: flex;
    height: 80px;
    line-height: 80px;

    border-bottom: 1px solid $border-color;
    font-size: 30px;
}

.text-input-name {
    width: 30%;
}

.text-input-item-view {
    width: 70%;
    text-align: right;
    margin-right: 30px;
}

.text-input-item {
    height: 100%;
}