@import "@styles/theme.scss";

.info-input-pinyin {
    background-color: $white;
    font-size: 30px;

    padding: 0 30px;
    margin-bottom: 2px;
}

.info-input-pinyin-content {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

.info-input-pinyin-warn {
    color: $text-color-lighter;
    font-size: 24px;

    margin-top: -20px;
}

.info-input-item {
    margin-bottom: 2px;
    padding-left: 30px;

    background-color: $white;
}
