@import "@styles/theme.scss";

.search {
    display: flex;
    justify-content: space-between;
    height: 80px;

    padding: 0 20px;

    background-color: $backgorund-color;
    color: $primary-color;
    font-size: 28px;
}


.img-view {
    padding: 20px 0;
}

.img {
    width: 40px;
    height: 40px;
}

.input-view {
    padding: 10px 0;
}

.input {
    width: 100%;
    height: 60px;
    padding: 0 50px;

    border: 1px solid #DCDFE6;
    border-radius: 10px;

    background-color: #ffffff;
}

.card-input {
    height: 60px;

    color: #000000;
}

.button-view {
    line-height: 80px;
}