@import "@styles/theme.scss";

.title-view {
    display: flex;

    background-color: $primary-color;
    color: #ffffff;
    
    // height: 90px;
    // line-height: 90px;
    height: 45PX;
    line-height: 45PX;
    
    font-size: 36px;
    font-weight: bold;
}

.title-icon {
    width: 7%;
    text-align: right;
}

.title {
    width: 86%;
    text-align: center;
}