@import "@styles/theme.scss";

.title {
    background-color: $primary-color;
    color: #ffffff;

    height: 80px;
    line-height: 80px;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}