@import "@styles/theme.scss";

.change {
    height: 240px;

    background-color: $backgorund-color;

    font-size: 30px;
    text-align: center;
}

.change-name {
    height: 120px;
    line-height: 120px;

    font-weight: bold;
}

.change-btn-view {
    height: 120px;
    line-height: 120px;
}

.change-btn {
    color: $white;
    background-color: $primary-color;

    padding: 10px 40px;
    border-radius: 10px;
}