@import "@styles/theme.scss";

.base-info-input-view {
    background-color: $white;
}

.base-info-input {
    margin-left: 25px;
}

.base-info-input-verify {
    display: flex;
    border-bottom: 1px solid $border-color;
}

.base-info-input-verify-btn-view {
    width: 25%;

    font-size: 28px;
}

.base-info-input-verify-btn {
    height: 50px;
    line-height: 50px;
    text-align: center;

    margin: 15px 0;

    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: $primary-color;

}




.verify-text-input {
    display: flex;
    height: 80px;
    line-height: 80px;
    
    font-size: 30px;
}

.verify-text-input-name {
    width: 30%;
}

.verify-text-input-item-view {
    width: 70%;
    text-align: right;
    margin-right: 30px;
}

.verify-text-input-item {
    height: 100%;
}